.menu-icon {
  display: none;
}
@media (max-width: 1024px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .nav-elements {
    position: absolute;
    left: 0;
    top: 80px;
    background-color: rgb(224, 224, 224);
    width: 0;
    height: 100vh;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }
  .nav-elements.active {
    width: 270px;
    flex-direction: column-reverse;
    justify-content: flex-end;
    border-radius: 5px;
    z-index: 10;
  }
  .nav-elements.active ul {
    padding: 30px;
    flex-direction: column;
  }
  .nav-elements.active ul li {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  }
}
