.img {
  height: 640px;
  width: 100%;
}
.owl-dots {
  transform: translateY(-60px);
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: orange;
}
.owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
}
